body {
    background-color: rgb(141, 2, 255);
    color: rgb(21, 255, 0);
    font-family: 'Trebuchet MS', "comic Sans MS", cursive;
    margin: 0;
} 

header {
    font-size: 60px;
    border-bottom: double 5px rgb(30, 255, 0);
    padding: 6px;
    text-align: center;
}

h1 {
    font-size: 30px;
    border-bottom:double 5px rgb(0, 255, 0) ;
    text-align: center;
}

p {
    font-size: 20px;
    text-align: center;
}

iframe, video {
    display: block;
    margin: 0 auto;
    width: 80%;
    max-width: 700px;
}