body {
    background-color: rgb(132, 2, 255);
    color: rgb(5, 252, 5);
    font-family: 'Trebuchet MS', "comic Sans MS", cursive;
    margin: 0;
} 

header {
    font-size: 60px;
    border-bottom: double 5px black;
    padding: 6px;
    text-align: center;
}

h1 {
    font-size: 30px;
}

p {
    font-size: 20px;
}
